telegram-rh-chatbot-rag/chatbot-rh.json
{
  "name": "Assistente Virtual de RH",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Você é o WALL-E, assistente virtual de RH da ChocolaTech.\nREGRAS:\n\nSempre responda em português.\nResponda APENAS dúvidas relacionadas a RH.\nIDENTIFICAÇÃO DO FUNCIONÁRIO:\nSe o usuário não disser quem é, pergunte o nome completo dele logo na primeira mensagem.\nSe o usuário não estiver registrado no banco de dados, informe que não está registrado e não forneça informações sensíveis.\nUse a ferramenta MySQL para buscar na tabela funcionarios usando SEMPRE o NOME COMPLETO informado pelo usuário.\nSe encontrado: use apenas informações permitidas (como férias e banco de horas).\nSe não encontrado: não invente dados pessoais.\nUse a base de conhecimento (Vector Store) para dúvidas gerais de RH."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [544, 0],
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [384, 224],
      "name": "Cohere Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [512, 224],
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busca informações sobre políticas de RH, férias, horários e rotinas da empresa.",
        "memoryKey": {
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [640, 224],
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [720, 432],
      "name": "Embeddings Cohere"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "value": "funcionarios",
          "mode": "list"
        },
        "where": {
          "values": [
            {
              "column": "nome",
              "condition": "LIKE",
              "value": "={{ $fromAI('nome', 'Use formato %nome%', 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [928, 224],
      "name": "MySQL Tool"
    },
    {
      "parameters": {
        "updates": ["message"]
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [160, 0],
      "name": "Telegram Trigger"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1136, 0],
      "name": "Send Message"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Send Message", "type": "main", "index": 0 }]]
    }
  }
}